@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/store.css" />
</head>
<body>
    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
