@model List<string>
<a class="btn btn-block btn-outline-secondary" asp-action="Store"
   asp-controller="Store" asp-route-category="">
   Store
</a>
@foreach (string category in Model)
{
    <a class="btn btn-block
       @(category == ViewBag.SelectedCategory
           ? "btn-primary": "btn-outline-secondary")"
       asp-action="Store" asp-controller="Store"
       asp-route-category="@category"
       asp-route-productPage="1">
        @category
    </a>
}
