@model List<string>
<ul class="ul-category">
    <li class="li-category">
        <a class="btn-store" asp-action="Store"
           asp-controller="Store" asp-route-category="">
            Store
        </a>
    </li>
    @foreach (string category in Model)
    {
        <li class="li-category">
            <a class="btn-store"
               
               asp-action="Store" asp-controller="Store"
               asp-route-category="@category"
               asp-route-productPage="1">
                @category
            </a>
        </li>
    }

    </ul>
