@model IEnumerable<CategoryProduct>

<a class="btn btn-block btn-outline-secondary" asp-action="Store"
   asp-controller="Store" asp-route-category="">
   Store
</a>
@foreach (CategoryProduct category in Model)
{
    <a class="btn btn-block
       @(category.Name == ViewBag.SelectedCategory
           ? "btn-primary": "btn-outline-secondary")"
       asp-action="Store" asp-controller="Store"
       asp-route-category="@category.Name"
       asp-route-productPage="1">
        @category.Name
    </a>
}
