@{
    Layout = "_ValidationScriptsPartial";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="liЬ/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/admin.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>

</head>
<body class="m-1 p-1">
        @if (TempData["message"] != null)
        {
            <div class="temp-data alert alert-success">@TempData["message"]</div>
        }  
     
    <div class="admin-div-menu">
        <a class="a-menu-admin" href="~/ProductsManager">Товары</a>
        <a class="a-menu-admin" href="~/UsersManager">Пользователи</a>
        <a class="a-menu-admin" href="~/RolesManager">Роли</a>
    </div>
    @RenderBody()
</body>
</html>

