@using Microsoft.AspNetCore.Identity
@using CardGameSite.BLL.Infrastructure


@inject AppSignInManager SignInManager
@inject AppUserManager UserManager
@inject AppRoleManager AppRoleManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        @if(UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin").Result){
             <li class="nav-item">
                <a id="a-admin" href="~/UsersManager">Админ</a>
             </li>
        }
        <li class="nav-item">
            <a id="manage" class="user-logining nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Добро пожаловать, @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link">Выход</button>
            </form>
        </li>


    }
    else
    {
        <li class="nav-item">
            <a class="b-link nav-link right-nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="b-link nav-link right-nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul>
