@{
    ViewData["Title"] = "Home Page";
}

<style>
    @@import url("/css/sectionvideo.css");
</style>
<section class="section-1">
    <div class="section-1-video-bg">
        <video autoplay muted loop>
            <source src="/video/base.mp4" type="video/mp4">
        </video>
    </div>
    <div class="section-1-text">
        <img src="/img/blogo.png" alt="STAR LORDS">
        <p>Присоединяйтесь к веселью с вашего любимого устройства. </p><button class="btn btn-outline-light btn-lg" type="button">Играйте бесплатно</button>
    </div>
</section>

    <section class="section-2">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Начните играть уже сегодня</h2>
                <p> </p>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" src="/img/ship.png"></div>
                <div class="col-md-6">
                     
                    <div class="getting-started-info">
                        <p>Пройдите обучение и сыграйте против ИИ, чтобы изучить основы. Участвуйте в любительских матчах и оттачивайте навыки в удобном для вас темпе.</p>
                    </div><button class="btn btn-outline-primary btn-lg" type="button">Загрузить</button>
                </div>
            </div>
        </div>
    </section>
